<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="registro">
<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="" id="icon" />
    </div>

    <form [formGroup]="registerGroup" (ngSubmit)="formSubmit()">
      <input type="text" id="register" class="fadeIn second" name="login" placeholder="usuario" formControlName="usuario">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="contraseña" formControlName="password">
      <button class="fadeIn fourth"> Registrarme </button>

      <p *ngIf="errMsg">{{errMsg}}</p>
    </form>

    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['']">Regresar</a>
    </div>

  </div>
</div>
</div>